{% extends "seeker/home.html" %}
{% block header %}
{% endblock %}
{% block content %}
<style>
   .div-container{
       width: 70%;
       margin-left: 15%;

   }
</style>

<div class="div-container"><br><br>
   
    <form method="post">
        {%csrf_token%}
     <center>
        <table class="table table-bordered">
         <tr>
            <td>User Name</td>
            <td><input type="text" name="user_name" class="form-control" required></td>
         </tr>
         <tr>
            <td>Password</td>
            <td><input type="password" name="pwd" class="form-control" required></td>
         </tr>
         <tr>
            <td colspan="2" class="text-center">
               <input type="submit" value="Login" class="btn btn-rounded">
           </td>
         </tr>
        </table>
    </center>
    </form>
</div><br><br>
{%endblock%}

