{% extends "seeker/home.html" %}
{% block header %}
{% endblock %}
{% block content %}
<style>
   .div-container{
       width: 70%;
       margin-left: 15%;
   }
</style>

<div class="div-container"><br><br>
    <form method="post">
        {% csrf_token %}
        <center>
            <table class="table table-bordered">
                <tr>
                    <td><input type="hidden" value="{{request.session.user_name}}" name="user_name"></td>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td><input type="text" name="full_name" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td><input type="date" name="date_of_birth" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <select name="gender" class="form-control" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Nationality</td>
                    <td><input type="text" name="nationality" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><textarea name="address" class="form-control" required></textarea></td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td><input type="tel" name="phone_number" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td><input type="email" name="email" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Job Status</td>
                    <td>
                        <select name="job_status" class="form-control" required>
                            <option value="fresher">Fresher</option>
                            <option value="working">Working</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Job Title</td>
                    <td><input type="text"  name="job_title" class="form-control"></td>
                </tr>
                <tr >
                    <td>Company Name</td>
                    <td><input type="text"  name="company_name" class="form-control"></td>
                </tr>
                <tr>
                    <td>Highest Degree Obtained</td>
                    <td><input type="text" name="highest_degree" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Major Field of Study</td>
                    <td><input type="text" name="major_field_of_study" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Institution Name</td>
                    <td><input type="text" name="institution_name" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Graduation Year</td>
                    <td><input type="number" name="graduation_year" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Technical Skills</td>
                    <td><textarea name="technical_skills" class="form-control" required></textarea></td>
                </tr>
                <tr>
                    <td>Soft Skills</td>
                    <td><textarea name="soft_skills" class="form-control" required></textarea></td>
                </tr>
                <tr>
                    <td>Hobbies</td>
                    <td><textarea name="hobbies" class="form-control" required></textarea></td>
                </tr>
                <tr>
                    <td>Interests</td>
                    <td><textarea name="interests" class="form-control" required></textarea></td>
                </tr>
                <tr>
                    <td>Languages Spoken</td>
                    <td><textarea name="languages_spoken" class="form-control" required></textarea></td>
                </tr>

                <tr>
                    <td colspan="2" class="text-center">
                        <input type="submit" value="Submit" class="btn btn-rounded">
                    </td>
                 
                </tr>
            </table>
        </center>
    </form>
    <td >If you already done then</td>
    <td><a href="/"><button class="btn btn-rounded">Skip</button></a></td>
</div><br><br>
{%endblock%}